<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boat Tracker - Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>
<body>
    <header>
        <h1>Boat Tracker - Map</h1>
    </header>

    <div id="map" style="height: 400px; width: 100%;"></div>

    <script type="module">
        import { updateMap } from "/static/js/map.js";

        const positions = {{ positions | tojson }};
        updateMap(positions);
    </script>
</body>
</html>
