{% extends "base.html" %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>


{% block content %}
<div id="graph-container" style="height: 400px; width: 100%;"></div>
<script>
    const positions = {{ positions | tojson }};

    const graphCtx = document.createElement('canvas');
    document.getElementById("graph-container").appendChild(graphCtx);

    const speedData = positions.map(pos => ({
        x: new Date(pos.utc_shifted_tstamp * 1000).toISOString(),
        y: pos.speed,
    }));

    new Chart(graphCtx, {
        type: 'line',
        data: {
            datasets: [{
                label: "Speed (knots)",
                data: speedData,
                borderColor: "blue",
                fill: false,
            }],
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'hour',
                    },
                },
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
{% endblock %}